<table>
  <thead>
    <tr>
      {{#if tj}}
      <th>Name</th>
      <th>Location</th>
      <th>Member Since</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each customers as |customer|}}
      <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.location}}</td>
        <td>{{moment-format customer.signupDate "MM/DD/YYYY"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
